<ion-content>
    <div class="background">
      <ion-back-button></ion-back-button>
      <div class="form">
        <h1 position="floating">Login</h1>
          <ion-item color="none" lines="none">
            <ion-label>Email</ion-label>
            <ion-input type="email" placeholder=" insira seu email" #email></ion-input>
          </ion-item>
          <ion-item color="none" lines="none">
            <ion-label>Senha</ion-label>
            <ion-input type="password" placeholder=" insira sua senha" #senha></ion-input>
          </ion-item>
          <ion-button color="primary" (click)="login(email, senha)" expand="full">Entrar</ion-button>
      </div>  
       
    </div>
  
  </ion-content>
  