<ion-header>
  <ion-toolbar>
    <ion-title>segundatela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <h1 class="textoneon">Encontre novas pessoas</h1>
    <div class="logo"></div>
    <h2 class="nome">Lena, 28 anos.</h2>
    <h3 class="descricao">Estudante de medicina, e doutora em te 
      fazer feliz. Vem conversar comigo.
    </h3>
    <ion-button class="button" fill="outline" [routerLink]="['/login']">Entendi</ion-button>
  </div>


</ion-content>
